%tr.transaction
  %td
    = select_tag 'financial_transactions[][ordergroup_id]',
      options_for_select(Ordergroup.order(:name).all.map { |g| [ g.name, g.id ] })
  %td= text_field_tag 'financial_transactions[][amount]'
  %td= link_to icon(:delete), "#", :title => "Gruppe enfernen", 'data-remove-transaction' => true