- unless messages.empty?
  %table.list
    %tbody
      - for message in messages
        %tr{:class => cycle('even','odd', :name => 'messages')}
          %td= format_subject(message, subject_length)
          %td= h(message.sender_name)
          %td= format_time(message.created_at)
          %td= link_to('Antworten', new_message_path(:message => {:reply_to => message.id}))
            