- unless @messages.empty?
  %table.list
    %thead
      %tr
        %th Betreff
        %th Absender
        %th Datum
    %tbody
      - for message in @messages
        %tr{:class => cycle('even','odd', :name => 'inbox')}
          %td= link_to(h(message.subject), {:controller => 'messages', :action => 'show', :id => message})
          %td= message.sender ? h(message.sender.nick) : 'FoodSoft'
          %td= format_time(message.created_on)
            
          
