- title "Nachrichten im Überblick"

%p= link_to('Neue Nachricht', :action => 'new')

%div{:style => "text-align:right"}= will_paginate @messages

#messages
  = render :partial => 'messages', :locals => { :messages => @messages, :subject_length => 130 }