- title "Nachricht anzeigen"

%div{:style => "width:40em"}
  %table{:style => "width:25em"}
    %tr
      %td Von:
      %td=h @message.sender_name
    %tr
      %td Betreff:
      %td
        %b=h @message.subject
    %tr
      %td Gesendet:
      %td= format_time(@message.created_at)
  %hr/
  %p= simple_format(h(@message.body))
  %hr/
  %p
    = link_to('Antworten', new_message_path(:message => {:reply_to => @message.id}))
    |
    = link_to 'Nachricht im Überblick', messages_path