.git
.gitignore

.bundle
.rake_tasks*
db/*.sqlite3
log
node_modules
tmp/*
public/assets
public/system
public/uploads
vendor/bundle

# no configuration
config/*.yml
!config/i18n-js.yml

# IDEs, Developer tools
.idea
.loadpath
.project
.sass-cache
.rbenv-version
.get-dump.yml
.bash_history
.localeapp
nbproject/
.*.sw?
*~

coverage
tags
doc/app/
doc/api/
.yarddoc/
rspec.failures

# Capistrano etc.
Capfile
config/deploy
config/deploy.rb
Gemfile.capistrano*

Dockerfile
.github/
docker-compose*.yml
README.md
doc/
.vscode/
