.bundle
.rake_tasks*
db/*.sqlite3
log
node_modules
tmp
public/assets
public/system
public/uploads
storage
vendor/bundle

# no configuration
config/*.yml
!config/i18n-js.yml
config/environments/development.rb

# IDEs, Developer tools
.idea
.loadpath
.project
.sass-cache
.rbenv-version
.get-dump.yml
.bash_history
.localeapp
nbproject/
.*.sw?
*~
*.iml

coverage
tags
doc/app/
doc/api/
.yarddoc/
rspec.failures
swagger/

# Capistrano etc.
Capfile
config/deploy
config/deploy.rb
Gemfile.capistrano*
