- if order.group_orders.map(&:group_order_invoice).compact.any?(&:paid)
  = link_to I18n.t('activerecord.attributes.group_order_invoice.links.not_paid'), toggle_all_paid_group_order_invoices_path(order_id: order.id, paid: true), method: :patch, remote: true, class: 'btn btn-danger btn-block'
- else
  = link_to I18n.t('activerecord.attributes.group_order_invoice.links.paid'), toggle_all_paid_group_order_invoices_path(order_id: order.id, paid: false), method: :patch, remote: true, class: 'btn btn-success btn-block'