- title t '.title', name: @financial_transaction_class.name

= link_to t('ui.edit'), edit_admin_financial_transaction_class_path(@financial_transaction_class), class: 'btn'
= link_to t('ui.delete'), [:admin, @financial_transaction_class], :data => {:confirm => t('.confirm')}, :method => :delete, class: 'btn btn-danger'
