-# please polish the following line if you know how
var errorDiv = $('<div class="alert fade in alert-error"><a class="close" data-dismiss="alert" href="#">×</a></div>');

-# next line, createTextNode called by .text(textString) helps escaping for html, but what about ' signs?
errorDiv.text('#{fail_msg}');

$('div.container-fluid').prepend(errorDiv);
