- title t('.title')

- content_for :javascript do
  :javascript
    $(function() {
      $('#article_search').select2_remote({
        remote_url: '#{articles_search_stock_articles_path}'
      });
    })


/
  TODO: Fix this
  %p
  = t '.search_text'
  = text_field_tag 'article_search'
#stock_article_form
  = render :partial => 'form', :locals => {:stock_article => @stock_article}
