- title "Neuen Lagerartikel anlegen"

- content_for :head do
  :javascript
    $(function() {
      $('#article_search').autocomplete({
          source: '#{articles_search_stock_articles_path}',
          select: function(e, ui) {
            alert(ui.item.value);
            //location.href = '#{nil}' + ui.item.value;
          }
        });
    })


/
  TODO: Fix this
  %p
  Suche nach Artikeln aus allen Katalogen:
  = text_field_tag 'article_search'
#stock_article_form
  = render :partial => 'form', :locals => {:stock_article => @stock_article}