- title _('Edit task')

#form{:style => "float:left; width:39em"}
  - form_tag :action => 'update', :id => @task do
    = render :partial => 'form'
    = submit_tag _('Save changes')
    |
    = link_to _('Cancel'), :action => "show", :id => @task
#workgroup_members{:style => "padding-left:41em"}
  %h3=_ 'Members of the workgroups'
  #list
    = render :partial => "/groups/workgroup_members"