- title t('.title')

= render 'form_sidebar'

= simple_form_for @task do |form|
  = render 'form', form: form, periodic: nil
  = simple_form_submit(form) do
    - form.submit t('.submit_periodic'), name: 'periodic', class: 'btn btn-default'
