- title t('.title')

= render 'messages/actionbar', active: 'message_threads'

= render 'groupmessage_threads', group: nil, name: t('.other'), id: 0

- for group in @groups
  = render 'groupmessage_threads', group: group, name: group.name, id: group.id
