<% form_tag(:action => 'createUser') do %>
  <%= render :partial => 'users/form' %>
  <p style="clear:both;">
  <%= submit_tag "Speichern" %> | <%= link_to_function('Abbrechen', 'Element.hide("newUser")')%></p>
<% end %>