<h1>Benutzer bearbeiten</h1>
<div id="newUser" style="width:65em">
  <div class="box_title"><h2>Benutzer_in bearbeiten</h2></div>
  <div class="column_content" id="userForm">
    <% form_tag(:action => 'updateUser', :id => @user) do %>
      <%= render :partial => 'users/form' %>
      <br style="clear:both" />
      <p>
      <%= submit_tag 'Speichern' %> | <%= link_to 'Abbrechen', :action => 'listUsers' %></p>
    <% end %>
  </div>
</div>