<h1>Neuer Benutzer</h1>
<div id="newUser">
  <div class="box_title"><h2>Neue_r Benutzer_in</h2></div>
  <div class="column_content" id="userForm">
    <% form_tag(:action => 'createUser') do %>
    <%= render :partial => 'users/form' %>
    <p style="clear:both;">
    <%= submit_tag "Speichern" %> | <%= link_to('Abbrechen', :action => 'listUsers')%></p>
    <% end %>
  </div>
</div>
<p><%= link_to 'Benutzer_innenübersicht', :action => 'listUsers' %></p>

