.row.mt-1
  .col-md-10
    = text_field_tag 'poll[choices][]', value, class: 'form-control'
  .col-md-2
  = link_to t('.remove'), "#", title: t('.remove_choice'), 'data-remove-choice' => true,
    class: 'btn btn-default btn-sm'
