.div{id: "multi_order_#{multi_order.id}_modal", class: 'multi-order-modal', data: { multi_order_id: multi_order.id, supplier: multi_order&.name } }
  = render :partial => 'ordergroup_invoices/links', locals: { multi_order: multi_order }
