<ul>
 <% for user in @group.non_members %>
  <li>
    <%= show_user user, full: true, markup: true %>
    | <%= link_to_remote t('.add'), 
        :url => { :controller => '/memberships', :action => 'add_member', :id => @group, :user_id => user },
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')" %>
  </li>
 <% end %>
</ul>
