<ul>
 <% for user in @group.non_members %>
  <li>
    <b><%= user.nick %></b> (<%=h user.first_name + ' ' + user.last_name %>)
    | <%= link_to_remote 'hinzufügen', 
        :url => { :controller => '/memberships', :action => 'add_member', :id => @group, :user_id => user },
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')" %>
  </li>
 <% end %>
</ul>