/* Navigation .... */
#nav {
  position: relative;
  height: 3em;
  text-align: right; }
  #nav ul {
    padding: 0 0 0 0;
    margin: -2.3em 0 0 0;
    list-style: none; }
    #nav ul li {
      display: inline;
      list-style: none;
      padding: 0.3em 0.3em 0.3em 0;
      margin: 0 0.2em;
      background: none; }
      #nav ul li a {
        margin: 0.1em 0 0 0;
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        text-decoration: none;
        color: #737272;
        border: none;
        border-bottom: none;
        background: #e3e3e3;
        padding: 0.5em 1.2em 0.1em 1.2em;
        margin-top: 0; }
      #nav ul li a:hover {
        color: #ED0606; }
      #nav ul li ul {
        display: none;
        position: absolute;
        margin: 0;
        left: 0;
        padding: 0.6em;
        bottom: -1.4em;
        right: 0em;
        background: #ED0606; }
        #nav ul li ul li {
          border-left: 0.1em dotted white;
          background: none; }
        #nav ul li ul a, #nav ul li ul a:hover {
          border: none;
          background: none;
          color: #FFF;
          padding: 0.7em;
          font-style: normal;
          font-size: 1em; }
    #nav ul li.current a {
      border: none;
      border-bottom: none;
      background: #ED0606;
      padding-bottom: 0.6em;
      color: #FFF; }
    #nav ul li.current ul {
      display: inline; }
      #nav ul li.current ul a {
        background: none; }
