- title "Löschvorschlag für #{@stock_article_selection.stock_articles.count} Lagerartikel"

%dl
  %dt Löschvorschlag vom:
  %dd=h @stock_article_selection.created_at
  %dt Erstellt durch:
  %dd=h link_to_user_message_if_valid(@stock_article_selection.created_by)
  %dt Zu löschende Artikel
  - for article in @stock_article_selection.stock_articles
    %dd=h article.name


%p
  = link_to 'Artikel löschen', articles_stock_article_selection_path(@stock_article_selection), :method => :delete,
    :confirm => 'Diesen Löschvorschlag wirklich ausführen und markierte Artikel löschen?', class: 'btn btn-danger'
  = link_to 'Verwerfen', @stock_article_selection, :method => :delete,
    :confirm => 'Diesen Löschvorschlag wirklich verwerfen?', class: 'btn'
  = link_to 'Alle Löschvorschläge zeigen', stock_article_selections_path, class: 'btn'
