<h1>Meine Daten bearbeiten</h1>
<div class="left_column" style="width: 100%;">
  <div class="box_title"><h2><%= h @user.nick %></h2></div>
  <div class="column_content">
    <% form_tag(:action => 'updateProfile') do %>
      <%= render :partial => 'users/form' %>
      <p style="clear:both">
      <%= submit_tag 'Speichern' %> | <%= link_to 'Abbrechen', :action => 'myProfile' %></p>
    <% end %>
  </div>
</div>
