%h1 Einladen
%p 
  Hier kannst du eine Person in die Gruppe 
  =h @group.name
  einladen, die noch nicht Mitglied der Foodcoop ist.
= error_messages_for('invite')
.edit_form{:style => 'width:35em'}      
  - form_for(:invite, @invite) do |i|
    %p
      Email-Adresse: 
      = i.text_field('email', :size => 40, :maxlength => 128)
    %p
      = submit_tag('Einladung abschicken')
