%h1
  =h @group.is_a?(OrderGroup) ? "Bestellgruppe:" : "Gruppe:"
  =h @group.name
= render :partial => "showGroup"

- unless @group.is_a?(OrderGroup)
  %p{:style => "clear:both"}
    = link_to "alle Arbeitsgruppen", :action => "workgroups"