%h1=h @user.nick
.left_column{:style => "width:50em"}
  .box_title
    %h2 Übersicht
  .column_content
    = render :partial => "users/show"
    %p{:style => "clear:both"}
    %p= link_to "Nachricht senden", :controller => "messages", :action => 'user', :id => @user
  .box_title
    %h2 Gruppenabos
  .column_content
    = render :partial => "users/memberships"