- for group in Group.find :all, :conditions => "type != 'OrderGroup'"
  %h4= link_to_function group.name, "Element.toggle('group_#{group.id}')"
  %ul{:style => "display:none"}[group]
    - for user in group.users.find :all, :order => "nick"
      %li= user.nick + " (#{user.find_ordergroup.name if user.find_ordergroup})"
  