<h1>Gruppe bearbeiten</h1>
<div class="edit_form" style="width:50em">
<% form_tag(:action => 'updateGroup', :id => @group) do %>
  <%= render :partial => 'groups/form' %>
  <br style="clear:both" />
  <%= submit_tag 'Speichern' %> | <%= link_to "Abbrechen", :action => "listGroups" %>
<% end %>
</div>
