%p{:style => "float:left"}
  %b Lieferung bearbeiten  
%p{:style => "float:right"}
  = remote_link_to "Artikel hinzufügen", :url => {:action => "new_order_article", :id => @order}

%table{:class => "ordered_articles", :style => "clear:both"}
  %thead
    %tr
      %th{:colspan => "1"} Artikel
      %th Nr.
      %th Menge
      %th GebGr * Einheit
      %th Netto
      %th Brutto
      %th MwSt
      %th Pfand
      %th{:colspan => "2"}
  %tbody#result_table
    - for order_article in @order.order_articles.ordered.all(:include => [:article, :article_price])
      = render :partial => "order_article_result", :locals => {:order_article => order_article}
