%h2
  Neuer gelieferter Artikel die Bestellung

- remote_form_for :order_article, :url => {:action => 'create_order_article', :order_id => @order.id}, |
  :before => "Element.show('loader')", :success => "Element.hide('loader')" do |form| |
  %p
    Suche im Katalog
    = text_field_with_auto_complete :article, :name, {}, |
      {:url => {:action => 'auto_complete_for_article_name', :order_id => @order.id}, |
       :after_update_element => 'setHiddenId'} |
  %p
    = form.hidden_field :article_id, :id => 'hidden_id'
    = submit_tag "Neuen Artikel hinzufügen"
    |
    = link_to_function "Abbrechen", "Element.hide('edit_box')"