-# use the local 'f', or supply 'f_uq' and 'f_unit' for more control (like in balancing)
= (f_unit || f).input :unit, hint: false do
  .input-group{style: 'width: 20em'}
    = (f_uq || f).input_field :unit_quantity, class: 'form-control'
    .input-group-addon &times;
    = (f_unit || f).input_field :unit, class: 'form-control'
  = (f_unit || f).hint :unit, style: 'margin-left: 12.5em'
