-# use the local 'f', or supply 'f_uq' and 'f_unit' for more control (like in balancing)
.fold-line
  = (f_uq rescue f).input :unit_quantity, label: Article.human_attribute_name(:unit),
    input_html: {class: 'input-mini', title: Article.human_attribute_name(:unit_quantity)}
  = (f_unit rescue f).input :unit, label: '&times;'.html_safe,
    input_html: {class: 'input-mini', title: Article.human_attribute_name(:unit)}
