- comments.each do |comment|
  .comment[comment]
    %strong= comment.user.try(:ordergroup_name)
    %small (#{show_user comment.user} am #{format_time(comment.created_at)}):
    = simple_format(comment.text)
