- unless @comments.empty?
  - @comments.each do |comment|
    .comment[comment]
      %h3
        = "#{comment.user.find_ordergroup.name} :" if comment.user.find_ordergroup
        =h comment.title
      = simple_format(comment.comment)
      .timestamp
        Erstellt am 
        = format_time(comment.created_at)
        von 
        =h comment.user.nick
- else
  es gibt derzeit keine Kommentare.