- comments.each do |comment|
  .comment[comment]
    %strong= comment.user.try(:ordergroup_name)
    %small (#{comment.user.try(:nick)} am #{format_time(comment.created_at)}):
    = simple_format(comment.text)
