- form_for :comment, :url => {:action => 'addComment', :id => @order } do |form|
  %p
    Titel:
    %br/
    = form.text_field :title, :cols => 40
  %p
    Kommentar:
    %br/
    = form.text_area :comment, :cols => 60, :rows => 8
  = submit_tag "Speichern"
  |
  = link_to_function "Abbrechen", "Element.hide('newComment')"