%p
  = fields_for "delivery[new_stock_changes][]", stock_change do |form|
    = form.select :stock_article_id, stock_articles_for_select(supplier)
    Menge
    = form.text_field :quantity, :size => 5, :autocomplete => 'off'
    = link_to t('.remove_article'), "#", :class => 'remove_new_stock_change'
