<p>
  <b>Supplier:</b>
  <%=h @delivery.supplier_id %>
</p>

<p>
  <b>Delivered on:</b>
  <%=h @delivery.delivered_on %>
</p>


<%= link_to 'Edit', edit_supplier_delivery_path(@supplier,@delivery) %> |
<%= link_to 'Back', supplier_deliveries_path(@supplier) %>
