- orders = Order.open.reject{ |order| order == current_order }
- unless orders.empty?
  %h2 Laufende Bestellungen
  %ul.unstyled
    - orders.each do |order|
      %li
        = link_to_ordering(order, 'data-confirm_switch_order' => true)
        - if order.ends
          noch #{time_ago_in_words(order.ends)}