- title "Bestellungen der #{@ordergroup.name}"
%p
  Siehe hier alle
  = link_to "laufenden Bestellungen.", group_orders_path

.row-fluid
  .span6
    %h2 beendet/nicht abgerechnet
    = render :partial => "orders", :locals => {:orders => Order.finished_not_closed, :pagination => false}

  .span6
    %h2 abgerechnet
    #closed_orders
      = render :partial => "orders", :locals => {:orders => @closed_orders, :pagination => true}
