- title _("Edit order")

- form_for @order do |form|
  = render :partial => 'form', :locals => { :form => form }
  = submit_tag "Speichern"
  |
  = link_to "Abbrechen", :action => 'show', :id => @order