- title "Neue Bestellung anlegen"

- form_for @order do |form|
  = render :partial => 'form', :locals => { :form => form }
  = submit_tag "Bestellung online stellen"
  |
  = link_to "Abbrechen", orders_path