%table.table.table-striped
  %thead
    %tr
      %th Titel
      %th Zuletzt aktualisiert
  %tbody
    - for page in @pages
      = render :partial => "page_list_item", :locals => {:page => page, :level => 0, :siteMap => 0}
