.column_content
  %table
    %tr
      %th Titel
      %th Zuletzt aktualisiert
    - homepage = Page.find_by_permalink('Home')
    - unless homepage.nil?
      = render :partial => 'page_list_item', :locals => {:page => homepage, :level => 0, :siteMap => 1}
    - for page in Page.no_parent.non_redirected.order('created_at DESC')
      - if page.id != homepage.id
        = render :partial => 'page_list_item', :locals => {:page => page, :level => 0, :siteMap => 1}
