%table.table.table-striped
  %thead
    %tr
      %th= t 'pages.title'
      %th= t 'pages.last_updated'
    - homepage = Page.find_by_permalink('Home')
    - unless homepage.nil?
      = render :partial => 'page_list_item', :locals => {:page => homepage, :level => 0, :siteMap => 1}
  %tbody
    - for page in @pages
      - if page.id != homepage.try(:id)
        = render :partial => 'page_list_item', :locals => {:page => page, :level => 0, :siteMap => 1}
