.column_content
  %table
    %tr
      %th Titel
      %th Zuletzt aktualisiert
    - for page in Page.non_redirected.order('title DESC')
      = render :partial => "page_list_item", :locals => {:page => page, :level => 0, :siteMap => 0}