- title "Alle Wikiseiten", false

.wiki_all
  #breadcrump
    = link_to_wikipage(Page.find_by_permalink("Home"), "Foodcoop-Wiki")

  %h1 Alle Wikiseite

  %p= link_to "Neue Seite anlegen", new_page_path

  %table
    %tr
      %th Titel
      %th Zuletzt aktualisiert
    - for page in @pages
      %tr
        %td= link_to page.title, wiki_page_path(page.permalink)
        %td= format_date page.updated_at
