- unless params[:sort_by_ordergroups]
  %p
    %table{:style => "width:100%"}
      %tr
        %td
          = pagination_links_remote @users, :update => :users
        %td{:style => "text-align:right"}
          - if @total > 20
            = items_per_page :update => :users
%table.list
  %thead
    %tr
      %th Nick
      %th Name
      %th Email
      %th Telefon
      %th Bestellgruppe
      %th Arbeitsgruppe(n)
  %tbody
    - for user in @users
      %tr{:class => cycle('even','odd', :name => 'users')}
        %td= link_to user.nick, {:controller => "messages", :action => "user", :id => user}, :title => _('Send user an email')
        %td=h user.name if @current_user.role_admin? || user.settings["profile.nameIsPublic"] == '1'
        %td=h user.email if @current_user.role_admin? ||  user.settings["profile.emailIsPublic"] == '1'
        %td=h user.phone if @current_user.role_admin? ||  user.settings["profile.phoneIsPublic"] == '1'
        %td=h user.ordergroup_name
        %td=h groups.select { |group| !group.is_a?(Ordergroup) }.collect(&:name).join(', ')

