# Foodsoft configuration

# Config for the exception_notification plugin
notification:
  error_recipients:
    - foo@bar.tld
  sender_address: FoodSoft Error <foodsoft@foodcoops.net>
  email_prefix: "[FoodSoft]"

# Access to sharedLists, the external article-database
shared_lists:
  adapter: mysql
  host: localhost
  database: sharedLists_development
  username: root
  password:
  encoding: utf8
  socket: /opt/lampp/var/mysql/mysql.sock

# secret to generate an integrity hash for cookie session data
# the string should have at least 30 characters
session_secret: dhjfuez47892nsl39fh83ham3jsdfjkh4879sdh

# auto-units-conversion
# this is used for automatic article-synchronization to handle different units
# e.g. when foodcoop-unit should be 500g and supplier-unit is 1kg
units:
  KG: 1
  1kg: 1
  500g: 0.5
  400g: 0.4
  300g: 0.3
  250g: 0.25
  200g: 0.2
  150g: 0.15
  125g: 0.125
  100g: 0.1
  50g: 0.05