- title t('.title')

- content_for :actionbar do
  = link_to t('.show_unpaid'), unpaid_finance_invoices_path, class: 'btn'
  = link_to t('.action_new'), new_finance_invoice_path, class: 'btn btn-primary'

#invoicesTable= render 'invoices'
