- title "Rechnung #{@invoice.number}"

%p
  %b Lieferant:
  =h @invoice.supplier.name
- if @invoice.delivery
  %p
    %b Lieferung:
    ="Diese Rechnung ist mit einer #{link_to "Lieferung", [@invoice.supplier,@invoice.delivery]} verknüpft."
%p
  %b Rechnungsnummer:
  =h @invoice.number
%p
  %b Datum:
  =h @invoice.date
%p
  %b Bezahlt am:
  =h @invoice.paid_on
%p
  %b Rechnungsbetrag:
  =h @invoice.amount
%p
  %b Pfand berechnet:
  =h @invoice.deposit
%p
  %b Pfand gutgeschrieben:
  =h @invoice.deposit_credit
%p
  %b Notiz:
  =h @invoice.note

= link_to "Bearbeiten", edit_finance_invoice_path(@invoice)
|
= link_to "Zurück", finance_invoices_path
