= @message.body
======================================================================
\
Antworten: #{new_message_url('message[reply_to]' => @message.id)}
Nachricht online einsehen: #{message_url(@message)}
Nachrichten-Einstellungen: #{my_profile_url}
