Foodsoft-Nachricht

Von: <%= @sender %>
An:  <%= @recipients %>

======================================================================
<%= @body %>
======================================================================

Antworten: <%= @reply %> 
Nachricht online einsehen: <%= @link %> 
Nachrichten-Einstellungen: <%= @profile %>
