- title "Passwort vergessen?"
- if flash[:error]
  %p{:style => "color: red"}= flash[:error]
%p
  Kein Problem, Du kannst dir einfach ein neues Passwort zulegen.
%p
  Dazu musst hier die E-Mail-Adresse eingeben, mit der Du in der FoodSoft angemeldet bist.
  Du erhälst dann eine E-Mail mit weiteren Instruktionen.

.edit_form{:style => "width:25em"}
  - form_tag(:action => 'reset_password') do
    %p
      E-Mail:
      %br/
      = text_field 'login', 'email'
    = submit_tag 'Neues Passwort anfordern'
    |
    = link_to 'Abbrechen', login_path
