- title "Passwort vergessen?"
%p
  Kein Problem, Du kannst dir einfach ein neues Passwort zulegen.
%p
  Dazu musst hier die E-Mail-Adresse eingeben, mit der Du in der FoodSoft angemeldet bist.
  Du erhälst dann eine E-Mail mit weiteren Instruktionen.

= simple_form_for User.new, url: {action: 'reset_password'} do |form|
  = form.input :email
  .form-actions
    = form.submit "Neues Passwort anfordern", class: 'btn'
    = link_to "oder abbrechen", :back