- title "Bestellungen der #{@ordergroup.name}"
%p
  Siehe hier alle
  = link_to "laufenden Bestellungen.", :action => "index"

.single_column{:style => "width:50em"}
  .box_title
    %h2 beendet/nicht abgerechnet
  .column_content
    = render :partial => "orders", :locals => {:orders => Order.finished_not_closed, :pagination => false}
    
.single_column{:style => "width:50em"}
  .box_title
    %h2 abgerechnet
  .column_content
    #closed_orders
      = render :partial => "orders", :locals => {:orders => @closed_orders, :pagination => true}
