// needs @import "twitter/bootstrap/bootstrap";

form.delta-input, .delta-input form {
  margin: 0;
  padding: 0;
}

.delta-input {
  .btn.modify {
    padding: 4px 8px;
    font-size: 10px;
  }

  input[data-delta] {
    text-align: right;
    min-width: 65px;
    font-size: 14px;
    padding: 4px 6px;

    appearance: textfield;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .btn-ordering {
    margin-top: 0px;
  }

  // handle error class outside of bootstrap controls
  input[data-delta].error {
    border-color: $state-danger-text;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: $state-danger-border;
      $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($state-danger-bg, 20%);
      @include box-shadow($shadow);
    }
  }
}
