.group-order-input {
  .btn-group .btn-ordering {
    margin-top: 0;
  }

  input.goa-quantity, input.goa-tolerance {
    height: 14px;
    border-radius: 0;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

