/* General rules ... */
body {
  background-color: #fff;
  color: black;
  margin: 0;
  padding: 1% 0 0 0;
  min-width: 990px;
  font-size: 62.5%;
  font-family: verdana, arial, sans-serif; }

#loader {
  position: fixed;
  top: 1px;
  right: 1px;
  background: #FFF;
  padding: 10px;
  color: black;
  border-width: 2px;
  border-style: solid;
  border-color: #ed0606; }

a, a:visited {
  text-decoration: underline;
  color: black; }

a:hover {
  color: #ed0606; }

h1, h2 {
  color: #ed0606; }

h1 {
  font-size: 2.2em;
  line-height: 0.8em;
  padding: 1em 0 5px 5%;
  margin: 0 0 1em 0;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #ed0606; }

h2 {
  font-size: 1.4em;
  margin-top: .5em; }

h3 {
  font-size: 1em;
  margin-top: 1.5em; }

input {
  color: #2e2e2e; }

abbr, acronym {
  cursor: help; }

input, textarea, select {
  border: 1px solid #D7D7D7;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.9em;
  padding-left: .2em;
  padding-right: .2em; }

input:focus, textarea:focus, select:focus {
  border-color: #000; }

input[type="button"], input[type="submit"], input[type="reset"] {
  background: #EEEEEE none repeat scroll 0%;
  border: 1px outset #CCCCCC;
  color: #222222;
  padding: 0.1em 0.5em;
  font-size: 1em;
  font-weight: bold;
  min-width: 34px; }

select {
  max-width: 15em; }

option {
  border-top: 1px solid #D7D7D7;
  margin: .2em 0; }

span.click-me {
  cursor: pointer; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.description {
  color: grey;
  font-size: 0.9em; }

.hidden {
  display: none; }

#login {
  margin: auto;
  width: 27em;
  font-size: 1.2em; }

#login #meta {
  margin-top: 2em;
  padding-top: .3em;
  border-top: 1px dotted #ED0606;
  color: #2e2e2e; }

#header {
  margin: 0;
  padding: 0; }

#logo {
  background: #ed0606;
  height: 1.1em;
  width: 8em;
  padding: 0 20px;
  text-align: left;
  line-height: 54px;
  font-size: 54px;
  overflow: hidden;
  letter-spacing: -3px;
  margin: 0; }
  #logo a, #logo a:hover {
    color: white;
    background-color: #ed0606;
    text-decoration: none; }
  #logo a span {
    color: #ed0606;
    background: #FFF;
    padding-right: 0.1em;
    font-weight: bold;
    border-top-width: 2px;
    border-top-style: dotted;
    border-top-color: #ed0606; }

#logininfo {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 1em; }
  #logininfo ul {
    list-style: none; }
    #logininfo ul li {
      margin: 0 0 0 5px;
      float: left; }
  #logininfo a {
    color: #737272;
    font-weight: bold; }
  #logininfo a:hover {
    color: #ed0606; }

#main {
  background: #FFF;
  padding: 0;
  margin: 0 15px 0 15px; }

#infobar {
  width: 10%;
  min-width: 5em;
  float: right;
  padding: 2.6em 1em;
  margin: 3em 0 0 0;
  border-left: 1px dotted #ED0606;
  font-size: 1.2em; }
  #infobar h3 {
    color: #ED0606; }
  #infobar ul {
    list-style: none; }
  #infobar li {
    margin: .3em 0 0 -3em; }

.menu, #start_nav {
  border: 2px solid #e3e3e3;
  background: #f5f5f5;
  padding: 0 10px 0px 5px;
  float: left; }
  .menu ul, #start_nav ul {
    list-style-type: none;
    margin: 0 0 0.2em 0;
    padding: 0; }
    .menu ul li, #start_nav ul li {
      border-bottom: 1px solid #dedede;
      color: #666;
      margin: 0.8em 0 0 0;
      font-weight: bold; }
      .menu ul li a:link, .menu ul li a:visited, #start_nav ul li a:link, #start_nav ul li a:visited {
        display: block;
        padding: 0.25em 1em;
        text-decoration: none;
        width: 12em; }
      .menu ul li a:hover, .menu ul li a:focus, #start_nav ul li a:hover, #start_nav ul li a:focus {
        background-color: #e3e3e3; }
      .menu ul li ul, #start_nav ul li ul {
        margin: 0;
        padding: 0; }
        .menu ul li ul li, #start_nav ul li ul li {
          border-top: 1px solid #dedede;
          border-bottom: none;
          margin: 0;
          font-weight: normal; }
          .menu ul li ul li a:link, .menu ul li ul li a:visited, #start_nav ul li ul li a:link, #start_nav ul li ul li a:visited {
            width: 11.5em;
            padding: 0 1em 0.1em 1.5em;
            font-weight: normal;
            text-decoration: none; }

.menu {
  position: absolute;
  top: 100px;
  right: 1px; }

#content {
  padding: .5em 0 2.5em 0;
  margin: 0;
  background: #FFF;
  font-size: 1.3em;
  width: 100%;
  float: left; }

/* *********************************** tables */
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 0; }
  table thead th, table tbody td, table th, table td {
    padding: 0.3em; }
  table thead tr {
    background-color: #efefef; }
  table th {
    color: black; }
  table tr.odd, table tr.even {
    border-top: 1px solid #DDDDDD; }
  table tr.odd, table tr.odd input {
    background-color: #F6F6F6; }
  table tr.even {
    background-color: #FBFBFB; }
  table tr.unavailable, table tr.unavailable a {
    color: grey; }
  table tr.unavailable a:hover {
    color: #ED0606; }
  table tr.just_updated {
    color: #008000; }
  table tr.selected, table tr.active {
    background-color: #ffffc2; }
  table tr.click-me {
    cursor: pointer; }
  table tr.ignored {
    color: grey; }
  table tr.success {
    color: green; }
  table tr.failed {
    color: red; }

table.list tr {
  border: 1px solid #e3e3e3; }
table.list tbody tr:hover {
  background-color: #EEEEDD; }

table tfoot tr {
  background-color: #fff; }
  table tfoot tr td {
    padding-top: 0.8em; }

tr.edit_inline {
  background-color: #ffff72; }
  tr.edit_inline td, tr.edit_inline span {
    padding: 0.5em 0.2em; }

div.legend, div.legend table th {
  color: grey;
  font-size: .8em;
  background: none; }

form table {
  border: none; }

table.ordered_articles {
  background-color: #fff; }
  table.ordered_articles tbody tr:hover {
    background-color: #EEEEDD; }
  table.ordered_articles a {
    display: block; }
  table.ordered_articles tr.results:hover {
    background-color: none; }
  table.ordered_articles table tfoot {
    font-weight: bold; }

td.currency, td.actions {
  text-align: right;
  padding-right: 0.5em; }

td.closed {
  background: image-url('arrow_right_red.png') no-repeat center left; }
  td.closed a {
    display: block;
    text-decoration: none;
    padding-left: 20px; }

td.open {
  background: image-url('arrow_down_red.png') no-repeat center left; }

div.edit_form {
  border: 2px solid #e3e3e3;
  background: #f5f5f5;
  padding: 0 0.8em 0.8em 0.8em;
  margin: 5px 0;
  color: black; }

#edit_article, #edit_box, #ajax_box {
  position: fixed;
  top: 5em;
  left: 10em;
  width: 55em;
  background: #FBFBFB;
  padding: 3em;
  padding-top: 1em;
  border-width: 3px;
  border-style: solid;
  border-color: #ed0606; }

div.box {
  border-left: 2px solid #78b74e;
  padding-left: 5px; }

div.single_column {
  width: 100%; }

div.left_column {
  width: 40%;
  float: left; }

div.middle_column {
  width: 40%;
  margin-left: 10px;
  float: left; }

div.right_column {
  margin-bottom: 3em;
  width: 55%;
  float: right; }

div.box_title {
  background: #78b74e;
  padding: 5px 10px; }
  div.box_title h2, div.box_title h2 a {
    color: #FFF;
    margin: 0; }
  div.box_title h2 {
    font-size: 1.3em; }

div.column_content {
  background: #e4eed6;
  color: black;
  padding: 10px;
  margin-bottom: 2em; }
  div.column_content h2 {
    color: black;
    font-size: 1.3em;
    margin: 1em 0 0 0; }
  div.column_content #links {
    float: right; }

tr.current_price {
  background: #cdee9e; }

li.check div.spinner {
  display: block;
  height: 5px;
  width: 21px;
  background-image: image-url('dots-white.gif');
  line-height: 16px;
  float: left;
  margin-right: 5px;
  background-position: center center;
  background-repeat: no-repeat; }

span.used, span.unused {
  font-weight: bold; }

span.used {
  color: #008000; }

span.unused {
  color: #ed0606; }

span.total {
  font-size: 80%; }

table#order {
  text-align: center; }
  table#order input {
    font-size: 0.9em;
    font-weight: bolder;
    background-color: #78B74E;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0; }
  table#order th#col_required, table#order th#col_tolerance {
    width: 140px; }
  table#order th#col_packages, table#order th#col_left_units {
    width: 50px; }
  table#order td.quantity, table#order td.tolerance {
    text-align: right; }
  table#order td#col_left_units {
    color: #ed0606; }
  table#order td {
    padding: 0.6em; }
  table#order td.name {
    text-align: left;
    padding-left: 10px; }
  table#order tfoot tr {
    background-color: #e4eed6; }
  table#order tfoot td {
    padding-right: 10px; }

#order-footer, .article-info {
  text-align: left;
  z-index: 1;
  position: fixed;
  bottom: 0;
  background-color: #E4EED6;
  border-top: 2px solid #78B74E; }
  #order-footer #total-sum, .article-info #total-sum {
    width: 22em;
    margin: .5em 2em 0 0;
    float: right; }
    #order-footer #total-sum #order-button, .article-info #total-sum #order-button {
      margin: .5em 0; }
      #order-footer #total-sum #order-button input, .article-info #total-sum #order-button input {
        background-color: #78B74E;
        color: #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px; }
      #order-footer #total-sum #order-button input:disabled, .article-info #total-sum #order-button input:disabled {
        background-color: red; }

#order-footer {
  width: 100%;
  right: 0;
  left: 0; }

.article-info {
  z-index: 2;
  width: 45em;
  height: 8em;
  border: none;
  left: 30px; }
  .article-info h3 {
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    width: 100%; }
  .article-info .right {
    width: 35%; }
  .article-info .left {
    width: 60%; }

tr.order-article .article-info {
  display: none; }

tr.order-article:hover .article-info {
  display: block; }

#newComment {
  margin: 1em; }

.comment {
  border-bottom: 1px dotted black;
  padding: .5em 0 1em .5em; }
  .comment .timestamp {
    font-size: 0.8em;
    color: grey; }

#editOrderNav a {
  color: #fff;
  font-weight: bold; }
#editOrderNav ul {
  margin: 0;
  padding: 0; }
  #editOrderNav ul li {
    display: inline;
    list-style: none;
    margin-right: 1em; }

.accepted {
  color: green;
  font-weight: bold; }

.done, .done a, .done .accepted {
  color: grey;
  font-weight: normal; }

ul.autocomplete .nick, ul.autocomplete .informal {
  margin: auto; }
ul.autocomplete .nick {
  font-weight: bold; }
ul.autocomplete .informal {
  color: grey;
  margin-left: 1em; }

#element_navigation {
  position: relative;
  top: -1em;
  left: 5%; }

.stats-bar {
  height: 20px;
  min-width: 10px;
  border: 1px solid #DDDDDD;
  background-color: #fff;
  text-align: center;
  margin: 0 10px 10px 0; }

.wiki_show, .wiki_version, .wiki_new, .wiki_edit, .wiki_all {
  margin-top: 30px;
  padding: 10px; }

#wiki_content {
  border: 1px solid grey;
  margin-right: 300px;
  padding: 10px;
  color: black;
  line-height: 1.5em;
  min-height: 400px; }
  #wiki_content span.editsection {
    display: none; }
  #wiki_content h1 {
    padding-left: 0;
    padding-top: 10px;
    border: none;
    margin-bottom: 10px; }
  #wiki_content h2, #wiki_content h3, #wiki_content h4, #wiki_content h5, #wiki_content h6 {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid #AAAAAA;
    padding-bottom: 0,17em;
    padding-top: 0,5em;
    font-weight: normal;
    font-size: 150%;
    color: black; }
  #wiki_content h3, #wiki_content h4, #wiki_content h5, #wiki_content h6 {
    border-bottom: medium none;
    font-weight: bold; }
  #wiki_content h3 {
    font-size: 132%; }
  #wiki_content h4 {
    font-size: 116%; }
  #wiki_content ul {
    line-height: 1.5em;
    margin: 0.3em 0 0 1.5em;
    padding: 0; }
  #wiki_content ol {
    line-height: 1.5em;
    margin: 0.3em 0 0 3.2em;
    padding: 0;
    list-style-image: none; }

a.new_wiki_link {
  color: grey; }

#preview {
  border: 1px dotted grey;
  padding: 0 1em; }

#wikitoc {
  padding: 5px;
  margin-bottom: 2em;
  width: 25em;
  border: 1px solid grey;
  background-color: #efefef; }
  #wikitoc h2 {
    font-size: 1em;
    color: black; }
    #wikitoc h2 span a {
      font-size: 0.5em;
      color: grey; }

#breadcrump {
  font-size: 0.5em;
  margin-bottom: 5px;
  height: 1em;
  color: #ED0606; }
  #breadcrump a {
    color: #ed0606;
    text-decoration: none; }
  #breadcrump a:hover {
    text-decoration: underline; }

#sidebar {
  float: right;
  width: 290px; }
  #sidebar #sidebar-links {
    margin-bottom: 18px;
    text-align: right; }
  #sidebar #subpages {
    border: 1px solid #78b74e;
    margin-top: 10px;
    padding: 0 0 0 0; }
  #sidebar #versions {
    margin-top: 10px;
    border: 1px solid #78b74e; }

#wiki-syntax-help {
  float: right; }
  #wiki-syntax-help table {
    border-color: #78b74e; }

.wiki_version #sidebar {
  margin-top: -23px;
  border: 1px solid #78b74e; }

#logininfo, #header, #footer {
  display: none; }

h1, h2 {
  color: black;
  border-color: black; }
