<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Foodsoft by foodcoops</title>

    <link rel="stylesheet" href="http://foodcoops.github.io/foodsoft/stylesheets/styles.css">
    <link rel="stylesheet" href="http://foodcoops.github.io/foodsoft/foodsoft/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Foodsoft</h1>
        <p>Web-based software to manage a non-profit food coop (product catalog, ordering, accounting, job scheduling).</p>

        <p class="view"><a href="https://github.com/foodcoops/foodsoft">View the Project on GitHub <small>foodcoops/foodsoft</small></a></p>


        <ul>
          <li><a href="https://github.com/foodcoops/foodsoft/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/foodcoops/foodsoft/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/foodcoops/foodsoft">View On <strong>GitHub</strong></a></li>
        </ul>

      </header>
      
      <section>
      {{ content }}
      </section>
      
      <footer>

        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/foodsoftdev" width="270" height="280" data-chrome="nofooter transparent" data-widget-id="388061788228423680">Tweets by @foodsoftdev</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <p>This project is maintained by <a href="https://github.com/foodcoops">foodcoops</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="http://foodcoops.github.io/foodsoft/javascripts/scale.fix.js"></script>
    
  </body>
</html>
