%h1 Lieferantin bearbeiten
- form_for :supplier, @supplier, :url => {:action => 'update', :id => @supplier} do |@f|
  = render :partial => 'form'
  = submit_tag 'Speichern'
  |
  = link_to 'Abbrechen', :action => 'list'