- title t('.title')

- content_for :actionbar do
  = link_to t('.messages'), messages_path, class: 'btn'
  = link_to t('.new'), new_message_path, class: 'btn btn-primary'
#messagethreads
  = render 'messagethreads', messagethreads: @messagethreads, pagination: true
