- title t '.title'

- content_for :actionbar do
  = link_to t('.new_financial_transaction_class'), new_admin_financial_transaction_class_path, remote: true, class: 'btn btn-primary'

- content_for :sidebar do
  %p= t('.first_paragraph').html_safe

#transaction_types_table= render 'transaction_types'
