- title "Gib Feedback"

%p Fehler gefunden? Vorschlag? Idee? Kritik? Wir freuen uns über jegliches Feedback.
%p
  Bitte beachte, dass das Foodsoft Team nur die Software wartet. Bei Fragen zur Organisation in Deiner Foodcoop,
  kontaktiere besser die entsprechenden Ansprechpartner.

= form_tag feedback_path do
  = text_area_tag :message, nil, class: 'input-xxlarge', rows: 10, required: 'required'
  .form-actions
    = submit_tag "Absenden", class: 'btn btn-primary'