<%
  u = @current_user
  tabs = [
      { :name => "Start", :url => root_path, :active => ["index", "messages", "home"],
        :subnav => [
          { :name => "Messages", :url => "/messages"},
          { :name => "My tasks", :url => "/home/tasks" },
          { :name => "My ordergroup", :url => "/home/ordergroup"},
          { :name => "My profile", :url => "/home/profile"}
        ]
      },
      { :name => "Foodcoop", :url => "/foodcoop/members", :active => ["foodcoop", "tasks"],
        :subnav => [
          { :name => "Members", :url => "/foodcoop/members"},
          { :name => "Workgroups", :url => "/foodcoop/workgroups"},
          { :name => "Tasks", :url => "/tasks"}
        ]
      },
      { :name => "Orders", :url => "/ordering", :active => ["orders", "ordering"],
        :subnav => [
          { :name => "Order", :url => "/ordering" },
          { :name => "My orders", :url => "/ordering/myOrders" },
          { :name => "Manage orders", :url => "/orders", :access? => (u.role_orders?) }
        ]
      },
      { :name => "Articles", :url => "/suppliers", 
        :active => ["articles", "suppliers", "deliveries", "article_categories", "stockit"],
        :access? => (u.role_article_meta? || u.role_suppliers?),
        :subnav => [
          { :name => "Artikel", :url => supplier_articles_path(Supplier.first) },
          { :name => "Lager", :url => "/stockit" },
          { :name => "Lieferantinnen", :url => suppliers_path, :access? => (u.role_suppliers?) },
          { :name => "Kategorien", :url => "/article_categories"}
        ]
      },
      { :name => "Finance", :url => "/finance",
        :active => ["finance", "finance/invoices", "finance/transactions", "finance/balancing"],
        :access? => (u.role_finance?),
        :subnav => [
          { :name => "Manage accounts", :url => "/finance/transactions" },
          { :name => "Balance orders", :url => "/finance/balancing" },
          { :name => "Invoices", :url => finance_invoices_path }
        ]
      },
      { :name => "Administration", :url => "/admin",
        :active => ["admin", "admin/users", "admin/ordergroups", "admin/workgroups"],
        :access? => (u.role_admin?),
        :subnav => [
          { :name => "Users", :url => admin_users_path },
          { :name => "Ordergroups", :url => admin_ordergroups_path },
          { :name => "Workgroups", :url => admin_workgroups_path }
        ]
      }
    ]
-%>
<ul>
  <% for tab in tabs -%>
    <% unless tab[:access?] and tab[:access?] == false -%>
      <li class="<%= 'current' if tab_is_active?(tab) %>">
        <%= link_to tab[:name], tab[:url] %>
        <ul>
          <% for subtab in tab[:subnav] -%>
            <% unless subtab[:access?] and subtab[:access?] == false -%>
              <li><%= link_to subtab[:name], subtab[:url] %></li>
            <% end -%>
          <% end -%>
        </ul>
      </li>
    <% end -%>
  <% end -%>
</ul>