<%
  u = @current_user
  tabs = [
      { :name => "Start", :url => root_path, :active => ["index", "home"],
        :subnav => [
          { :name => "Meine Aufgaben", :url => "/home/tasks" },
          { :name => "Meine Bestellgruppe", :url => "/home/ordergroup"},
          { :name => "Mein Profil", :url => "/home/profile"}
        ]
      },
      { :name => "Foodcoop", :url => "/tasks", 
        :active => ["foodcoop", "tasks", "messages", "foodcoop/ordergroups", "foodcoop/workgroups"],
        :subnav => [
          { :name => "Mitglieder", :url => "/foodcoop/members"},
          { :name => "Abeitsgruppen", :url => "/foodcoop/workgroups"},
          { :name => "Bestellgruppen", :url => "/foodcoop/ordergroups"},
          { :name => "Nachrichten", :url => "/messages"},
          { :name => "Aufgaben", :url => "/tasks"}
        ]
      },
      { :name => "Bestellungen", :url => u.ordergroup ? "/ordering/" : "/orders",
        :active => ["orders", "ordering"],
        :subnav => [
          { :name => "Bestellen!", :url => "/ordering" },
          { :name => "Meine Bestellungen", :url => "/ordering/myOrders" },
          { :name => "Bestellverwaltung", :url => "/orders", :access_denied? => (!u.role_orders?) }
        ]
      },
      { :name => "Artikel", :url => "/suppliers",
        :active => ["articles", "suppliers", "deliveries", "article_categories", "stockit", "stock_takings"],
        :access_denied? => (!u.role_article_meta? && !u.role_suppliers?),
        :subnav => [
          { :name => "Artikel", :url => supplier_articles_path(Supplier.first) },
          { :name => "Lager", :url => "/stockit" },
          { :name => "Lieferantinnen", :url => suppliers_path, :access_denied? => (!u.role_suppliers?) },
          { :name => "Kategorien", :url => "/article_categories"}
        ]
      },
      { :name => "Finanzen", :url => "/finance",
        :active => ["finance/invoices", "finance/transactions", "finance/balancing"],
        :access_denied? => (!u.role_finance?),
        :subnav => [
          { :name => "Konten verwalten", :url => "/finance/transactions" },
          { :name => "Bestellungen abrechnen", :url => "/finance/balancing/list" },
          { :name => "Rechnungen", :url => finance_invoices_path }
        ]
      },
      { :name => "Administration", :url => "/admin",
        :active => ["admin", "admin/users", "admin/ordergroups", "admin/workgroups"],
        :access_denied? => (!u.role_admin?),
        :subnav => [
          { :name => "Benutzerinnen", :url => admin_users_path },
          { :name => "Bestellgruppen", :url => admin_ordergroups_path },
          { :name => "Arbeitsgruppen", :url => admin_workgroups_path }
        ]
      }
    ]
-%>
<ul>
  <% for tab in tabs -%>
    <% unless tab[:access_denied?] -%>
      <li class="<%= 'current' if tab_is_active?(tab) %>">
        <%= link_to tab[:name], tab[:url] %>
        <ul>
          <% for subtab in tab[:subnav] -%>
            <% unless subtab[:access_denied?] -%>
              <li><%= link_to subtab[:name], subtab[:url] %></li>
            <% end -%>
          <% end -%>
        </ul>
      </li>
    <% end -%>
  <% end -%>
</ul>