- title "Gruppe bearbeiten"

%p
  %i
    Mitglieder kannst du 
    = link_to "hier", :action => "memberships", :id => @workgroup
    hinzufügen.

.edit_form{:style => "width:35em"}      
  - form_for [:foodcoop, @workgroup] do |@form|
    = render :partial => "shared/group_form"

    %p{:style => "clear:both"}
      = submit_tag 'Speichern'
      |
      = link_to "Abbrechen", foodcoop_workgroups_path