%h1 Arbeitsgruppen

%p
  %i
    Das bearbeiten von Gruppen ist nur für Mitglieder der Gruppe möglich. 
    %br/
    Wenn du einer Gruppe beitreten willst, dann schreib doch den Mitgliedern eine Nachricht.
      
= render :partial => "workgroup", :collection => @workgroups
        
          
            
          